.App {
    --primary-color: #52d1d1;
    --app-height: 800px;
    --blur-color-light: rgb(116, 219, 219);
    --blur-color-dark: #585e5e;
}

.App {
    user-select: none;
    height: var(--app-height);
    box-sizing: border-box;
    background-color: var(--primary-color);
    position: relative;
}

.App-login-board {
    --content-width: 240px;
}

.App-login-board {
    --title-height: 20%;
    --x-index: 3px;
    --y-index: calc(-1*var(--x-index));
    --blur: 6px;
    --spread: 4px;
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    border-radius: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--primary-color);
    box-shadow: var(--y-index) var(--y-index) var(--blur) var(--spread) var(--blur-color-light), var(--x-index) var(--x-index) var(--blur) var(--spread) var(--blur-color-dark);
    transform: translate(-50%, -50%);
}

.App-login-title {
    font-size: large;
    text-align: center;
    box-sizing: border-box;
    height: var(--title-height);
}

.App-login-content {
    box-sizing: border-box;
    height: calc(100%-var(--title-height));
    display: flex;
    flex-flow: column;
    align-items: center;
}

.App-login-input>span {
    display: block;
    margin-bottom: 4px;
}

.App-login-input>input {
    --x-index: 2px;
    --y-index: calc(-1*var(--x-index));
    --blur: 4px;
    --spread: 2px;
    box-sizing: border-box;
    display: block;
    width: var(--content-width);
    height: 40px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 0 20px 0 20px;
    font-size: 16px;
    box-shadow: inset var(--y-index) var(--y-index) var(--blur) var(--spread) var(--blur-color-light), inset var(--x-index) var(--x-index) var(--blur) var(--spread) var(--blur-color-dark);
    outline: none;
    margin-bottom: 20px;
}

.App-login-button {
    --x-index: 2px;
    --y-index: calc(-1*var(--x-index));
    --blur: 4px;
    --spread: 2px;
    background-color: var(--primary-color);
    width: var(--content-width);
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: var(--y-index) var(--y-index) var(--blur) var(--spread) var(--blur-color-light), var(--x-index) var(--x-index) var(--blur) var(--spread) var(--blur-color-dark);
}

.App-login-button:active {
    box-shadow: var(--y-index) var(--y-index) var(--blur) 0 var(--blur-color-light), var(--x-index) var(--x-index) var(--blur) 0 var(--blur-color-dark);
}